.page {
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

:deep() {
	.avatar {
		display: flex;
		align-items: center;
		gap: 10rpx;
		image {
			width: 80rpx;
			height: 80rpx;
			border-radius: 50%;
		}
	}
	.wd-cell {
		--wot-cell-value-color: var(--wot-text-color-placeholder);
	}
}
