@use "./common/mixin.scss";
@use "./common/animation.scss";
@use "./common/nprogress.scss";
@use "./element-plus/index.scss";

@font-face {
	font-family: Roboto;
	src: url(//cdn.fastdotnet.com/fonts/Roboto/Roboto-Thin.ttf);
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url(//cdn.fastdotnet.com/fonts/Roboto/Roboto-Light.ttf);
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url(//cdn.fastdotnet.com/fonts/Roboto/Roboto-Regular.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url(//cdn.fastdotnet.com/fonts/Roboto/Roboto-Medium.ttf);
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: Roboto;
	src: url(//cdn.fastdotnet.com/fonts/Roboto/Roboto-Bold.ttf);
	font-weight: 700;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

* {
	scrollbar-color: var(--el-scrollbar-bg-color) var(--el-fill-color-light);
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar:horizontal {
	height: 6px;
}

*::-webkit-scrollbar-track {
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #0003;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background-color: #0000004d;
}

/* 取消input的上下箭头 */
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
}
input::-webkit-outer-spin-button {
	-webkit-appearance: none !important;
}

html,
body,
#app,
#watermark {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: var(--el-bg-color);
	overflow-y: hidden;
	font-size: var(--el-font-size-base);
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-family:
		Roboto,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.fa-error-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.icon {
		width: 400px;
		height: 400px;
		margin-bottom: 50px;
		svg {
			width: 100%;
			height: 100%;
		}
	}
}

/** 左右布局，左边自动宽度 */
.fa__display_lr-l {
	// --width: 400px;
	--width: 30%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--el-main-padding);
	> :first-child {
		flex: 1;
		min-width: 0px;
		width: auto;
		height: auto;
	}
	> :last-child {
		max-width: var(--width);
	}
}

/** 左右布局，右边自动宽度 */
.fa__display_lr-r {
	// --width: 400px;
	--width: 30%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--el-main-padding);
	> :first-child {
		max-width: var(--width);
	}
	> :last-child {
		flex: 1;
		min-width: 0px;
		width: auto;
		height: auto;
	}
}

/** 上下布局，上边自动高度 */
.fa__display_tb-t {
	--height: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--el-main-padding);
	> :first-child {
		flex: 1;
		min-height: 0px;
	}
	> :last-child {
		max-height: var(--height);
	}
}

/** 上下布局，下边自动高度 */
.fa__display_tb-b {
	--height: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: var(--el-main-padding);
	> :first-child {
		max-height: var(--height);
	}
	> :last-child {
		flex: 1;
		min-height: 0px;
	}
}
