.wd-card {
	--wot-card-margin: 0 20rpx;
}

.fa-card__page {
	.wd-card__title-content {
		border-bottom: var(--wot-border);
	}
	.wd-card__content {
		padding: 20rpx 0;
	}
	.wd-card__footer {
		padding: 15rpx 0 !important;
		border-top: var(--wot-border);
		.wd-button + .wd-button {
			margin-left: 20rpx;
		}
	}
}
