.fa-navbar {
	position: sticky;
	top: var(--wot-status-bar-height);
	left: 0;
	right: 0;
	z-index: 1001;
	.wd-navbar {
		--wot-navbar-title-font-size: var(--wot-font-size-small);
		transition: background-color var(--wot-transition-duration);
		&.is-scrolled {
			--wot-navbar-background: var(--wot-navbar-bg-color);
			--wot-navbar-color: var(--wot-text-color-primary);
		}
	}
}
