.page {
	padding-top: var(--wot-status-bar-height);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	// background-position: center calc(var(--wot-status-bar-height));
}

.status-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--wot-status-bar-height);
	// background-color: var(--wot-navbar-bg-color);
	z-index: 1001;
	transition: background-color var(--wot-transition-duration);
}

:deep(.wd-navbar) {
	--wot-navbar-background: none;
}

.user__card {
	position: relative;
	margin: 20rpx 60rpx 40rpx;
	border-radius: var(--wot-border-radius-large);
	color: var(--wot-text-color-primary);
	box-shadow: var(--wot-box-shadow-lighter);
	background-color: var(--wot-bg-color);
	.top_bg {
		position: absolute;
		z-index: 1;
		width: 118px;
		height: 53px;
		right: 20px;
	}
	.bottom_bg {
		position: absolute;
		z-index: 1;
		width: 118px;
		height: 53px;
		bottom: 0;
		left: 20px;
	}
	.user__warp {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		gap: 30rpx;
		box-sizing: border-box;
		.top {
			padding: 30rpx 40rpx 0;
			display: flex;
			align-items: center;
			gap: 20rpx;
			.fa-image {
				border: var(--wot-border);
			}
			.user__info {
				flex: 1;
				.employeeName {
					font-size: var(--wot-font-size-medium);
					font-weight: var(--wot-font-weight-primary);
					color: var(--wot-text-color-primary);
				}
				.nickName {
					font-size: var(--wot-font-size-small);
					color: var(--wot-text-color-secondary);
				}
				.employeeNo {
					font-size: var(--wot-font-size-small);
					color: var(--wot-text-color-secondary);
				}
			}
		}
		.bottom {
			padding: 20rpx 40rpx 20rpx;
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 20rpx;
			border-top: 1px solid var(--wot-border-color);
			.bottom__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.txt__1 {
					color: var(--wot-text-color-primary);
					font-weight: var(--wot-font-weight-primary);
				}
				.txt__2 {
					color: var(--wot-text-color-placeholder);
					font-size: var(--wot-font-size-extra-small);
				}
			}
		}
	}
}

.data-card {
	background-color: var(--wot-bg-color);
	.card__cell::after {
		position: absolute;
		display: block;
		content: "";
		width: 94%;
		height: var(--wot-border-width);
		left: 3%;
		bottom: 0;
		transform: scaleY(0.5);
		background: var(--wot-border-color);
	}
	.card__content {
		padding: 30rpx 20rpx;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(140rpx, 1fr));
		row-gap: 30rpx;
		column-gap: 20rpx;
		.card__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 10rpx;
			.wd-icon,
			.fa-icon {
				font-size: 50rpx;
				color: var(--wot-color-primary);
			}
			text {
				color: var(--wot-text-color-secondary);
				font-size: var(--wot-font-size-extra-small);
			}
		}
	}
}

.wd-cell {
	--wot-cell-value-color: var(--wot-text-color-placeholder);
	:deep(.wd-cell__icon) {
		min-width: 24px;
		text-align: center;
	}
}

.btn__exit-login {
	--wot-button-medium-fs: var(--wot-font-size-base);
	--wot-button-medium-height: 80rpx;
	margin: 30rpx 50rpx !important;
}
