.fa-search-input {
	padding: 20rpx 15rpx;
	background-color: var(--wot-bg-color);
	:deep() {
		.wd-input__icon {
			font-size: var(--wot-font-size-medium);
		}
	}
	.fa-search-input__header {
		display: flex;
		gap: 10rpx;
		:deep() {
			.wd-input {
				--wot-input-bg: var(--wot-bg-color-page);
				--wot-input-inner-height-no-border: 34px;
				flex: 1;
				border-radius: var(--wot-border-radius-round);
				&::after {
					content: none;
				}
				.wd-input__value {
					padding: 0 20rpx;
					.wd-input__suffix {
						display: flex;
						align-items: center;
					}
					.wd-button {
						margin-left: 5px;
						height: 26px;
						line-height: 26px;
					}
				}
			}
		}
		.fa-search-input__filter {
			display: flex;
			align-items: center;
			color: var(--wot-text-color-placeholder);
			.fa-search-input__filter-text {
				font-size: var(--wot-font-size-extra-small);
			}
		}
	}
	:deep() {
		.fa-search-popup {
			height: 60%;
			display: flex;
			flex-direction: column;
			padding-top: 20rpx;
			padding-bottom: 40rpx;
			border-radius: var(--wot-border-radius-large) var(--wot-border-radius-large) 0 0;
			.fa-search-popup__title {
				display: flex;
				justify-content: center;
				height: 60rpx;
				font-size: var(--wot-font-size-medium);
				color: var(--wot-text-color-regular);
				border-bottom: var(--wot-border);
			}
			.fa-search-popup__warp {
				flex: 1;
				padding-bottom: 10rpx;
				overflow-y: auto;
				.fa-search-input__date-picker {
					.wd-picker__value {
						color: var(--wot-text-color-placeholder);
					}
				}
				.fa-search-input__date-range {
					padding: 0;
					padding-left: var(--wot-cell-padding, var(--wot-size-side-padding, 15px));
					.fa-search-input__date-range__warp {
						padding-bottom: 6px;
						border-bottom: var(--wot-border);
						border-color: var(--wot-border-color-light);
					}
					.wd-radio {
						padding: 6px 12px 6px 0;
						width: auto;
					}
				}
			}
			.fa-search-popup__footer {
				display: flex;
				justify-content: space-evenly;
				gap: 10%;
				padding: 20rpx 10%;
				border-top: var(--wot-border);
				.wd-button {
					flex: 1;
				}
			}
		}
	}
}
