.fa-popup {
	padding-top: 20rpx !important;
	padding-bottom: 40rpx !important;
	// padding-left: 15rpx;
	// padding-right: 15rpx;

	&.wd-popup--center {
		border-radius: var(--wot-border-radius-large);
	}

	&.wd-popup--top {
		border-radius: 0 0 var(--wot-border-radius-large) var(--wot-border-radius-large);
	}

	&.wd-popup--right {
		border-radius: var(--wot-border-radius-large) 0 0 var(--wot-border-radius-large);
	}

	&.wd-popup--bottom {
		border-radius: var(--wot-border-radius-large) var(--wot-border-radius-large) 0 0;
	}

	&.wd-popup--left {
		border-radius: 0 var(--wot-border-radius-large) var(--wot-border-radius-large) 0;
	}
}
