.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 180rpx 0 0;
	.logo {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30rpx;
		.img_logo {
			width: 280rpx;
			height: 280rpx;
			border-radius: 50%;
		}
		.app_name {
			font-size: 50rpx;
			font-weight: var(--wot-font-weight-primary);
			color: var(--wot-text-color-regular);
		}
	}
	.btn_text {
		height: 65rpx;
		line-height: 65rpx;
		color: var(--wot-color-primary);
		margin: 0 0 200rpx;
	}
	:deep() {
		.wd-button {
			--wot-button-medium-height: 65rpx;
			min-width: auto !important;
			width: 160rpx !important;
			margin: 0 0 200rpx;
		}
	}
}
