.wot-theme-dark {
	/* 成功色 */
	--wot-color-success: #67c23a;
	--wot-color-success-light-1: #5fb136;
	--wot-color-success-light-2: #579f33;
	--wot-color-success-light-3: #4e8e2f;
	--wot-color-success-light-4: #467d2b;
	--wot-color-success-light-5: #3e6b27;
	--wot-color-success-light-6: #365a24;
	--wot-color-success-light-7: #2d4920;
	--wot-color-success-light-8: #25371c;
	--wot-color-success-light-9: #1d2618;
	--wot-color-success-dark-1: #5fb136;
	--wot-color-success-dark-2: #579f33;
	--wot-color-success-dark-3: #4e8e2f;
	--wot-color-success-dark-4: #467d2b;
	--wot-color-success-dark-5: #3e6b27;
	--wot-color-success-dark-6: #365a24;
	--wot-color-success-dark-7: #2d4920;
	--wot-color-success-dark-8: #25371c;
	--wot-color-success-dark-9: #1d2618;

	/* 警告色 */
	--wot-color-warning: #e6a23c;
	--wot-color-warning-light-1: #d19438;
	--wot-color-warning-light-2: #bc8634;
	--wot-color-warning-light-3: #a77830;
	--wot-color-warning-light-4: #92692c;
	--wot-color-warning-light-5: #7d5b28;
	--wot-color-warning-light-6: #684d24;
	--wot-color-warning-light-7: #533f20;
	--wot-color-warning-light-8: #3e311c;
	--wot-color-warning-light-9: #292318;
	--wot-color-warning-dark-1: #d19438;
	--wot-color-warning-dark-2: #bc8634;
	--wot-color-warning-dark-3: #a77830;
	--wot-color-warning-dark-4: #92692c;
	--wot-color-warning-dark-5: #7d5b28;
	--wot-color-warning-dark-6: #684d24;
	--wot-color-warning-dark-7: #533f20;
	--wot-color-warning-dark-8: #3e311c;
	--wot-color-warning-dark-9: #292318;

	/* 危险色 */
	--wot-color-danger: #f56c6c;
	--wot-color-danger-light-1: #df6363;
	--wot-color-danger-light-2: #c85b5b;
	--wot-color-danger-light-3: #b25252;
	--wot-color-danger-light-4: #9b4949;
	--wot-color-danger-light-5: #854040;
	--wot-color-danger-light-6: #6e3838;
	--wot-color-danger-light-7: #582f2f;
	--wot-color-danger-light-8: #412626;
	--wot-color-danger-light-9: #2b1d1d;
	--wot-color-danger-dark-1: #df6363;
	--wot-color-danger-dark-2: #c85b5b;
	--wot-color-danger-dark-3: #b25252;
	--wot-color-danger-dark-4: #9b4949;
	--wot-color-danger-dark-5: #854040;
	--wot-color-danger-dark-6: #6e3838;
	--wot-color-danger-dark-7: #582f2f;
	--wot-color-danger-dark-8: #412626;
	--wot-color-danger-dark-9: #2b1d1d;

	/* 错误色 */
	--wot-color-error: #f56c6c;
	--wot-color-error-light-1: #df6363;
	--wot-color-error-light-2: #c85b5b;
	--wot-color-error-light-3: #b25252;
	--wot-color-error-light-4: #9b4949;
	--wot-color-error-light-5: #854040;
	--wot-color-error-light-6: #6e3838;
	--wot-color-error-light-7: #582f2f;
	--wot-color-error-light-8: #412626;
	--wot-color-error-light-9: #2b1d1d;
	--wot-color-error-dark-1: #df6363;
	--wot-color-error-dark-2: #c85b5b;
	--wot-color-error-dark-3: #b25252;
	--wot-color-error-dark-4: #9b4949;
	--wot-color-error-dark-5: #854040;
	--wot-color-error-dark-6: #6e3838;
	--wot-color-error-dark-7: #582f2f;
	--wot-color-error-dark-8: #412626;
	--wot-color-error-dark-9: #2b1d1d;

	/* 信息色 */
	--wot-color-info: #909399;
	--wot-color-info-light-1: #84868c;
	--wot-color-info-light-2: #777a7f;
	--wot-color-info-light-3: #6b6d71;
	--wot-color-info-light-4: #5f6064;
	--wot-color-info-light-5: #525457;
	--wot-color-info-light-6: #46474a;
	--wot-color-info-light-7: #3a3a3c;
	--wot-color-info-light-8: #2d2e2f;
	--wot-color-info-light-9: #212122;
	--wot-color-info-dark-1: #84868c;
	--wot-color-info-dark-2: #777a7f;
	--wot-color-info-dark-3: #6b6d71;
	--wot-color-info-dark-4: #5f6064;
	--wot-color-info-dark-5: #525457;
	--wot-color-info-dark-6: #46474a;
	--wot-color-info-dark-7: #3a3a3c;
	--wot-color-info-dark-8: #2d2e2f;
	--wot-color-info-dark-9: #212122;

	--wot-box-shadow: 0rpx 24rpx 64rpx 8rpx rgba(0, 0, 0, 0.36), 0rpx 16rpx 40rpx rgba(0, 0, 0, 0.72);
	--wot-box-shadow-light: 0rpx 0rpx 24rpx rgba(0, 0, 0, 0.72);
	--wot-box-shadow-lighter: 0rpx 0rpx 12rpx rgba(0, 0, 0, 0.72);
	--wot-box-shadow-dark: 0rpx 32rpx 96rpx 32rpx rgba(0, 0, 0, 0.72), 0rpx 24rpx 64rpx #000000, 0rpx 16rpx 32rpx -16rpx #000000;

	/* 背景色 */
	--wot-bg-color: #141414;
	--wot-bg-color-page: #0a0a0a;
	--wot-bg-color-overlay: #1d1e1f;

	/* 重要正文文字颜色 */
	--wot-text-color-primary: #e5eaf3;
	/* 普通正文文字颜色 */
	--wot-text-color-regular: #cfd3dc;
	/* 次要信息文字颜色 */
	--wot-text-color-secondary: #a3a6ad;
	/* 占位符文字颜色 */
	--wot-text-color-placeholder: #8d9095;
	/* 禁用文字颜色 */
	--wot-text-color-disabled: #6c6e72;

	/* 边框色 */
	--wot-border-color: #4c4d4f;
	--wot-border-color-light: #414243;
	--wot-border-color-lighter: #363637;
	--wot-border-color-extra-light: #2b2b2c;
	--wot-border-color-dark: #58585b;
	--wot-border-color-darker: #636466;

	/* 填充色 */
	--wot-fill-color: #303030;
	--wot-fill-color-light: #262727;
	--wot-fill-color-lighter: #1d1d1d;
	--wot-fill-color-extra-light: #191919;
	--wot-fill-color-blank: transparent;
	--wot-fill-color-dark: #39393a;
	--wot-fill-color-darker: #424243;

	/* 蒙版层颜色 */
	--wot-mask-color: rgba(0, 0, 0, 0.8);
	--wot-mask-color-extra-light: rgba(0, 0, 0, 0.3);
}
