html.small {
	.nav-bar-tab {
		.icon-arrow,
		:deep(.screen-full) {
			width: 30px;
			font-size: var(--el-font-size-base);
		}

		:deep(.el-scrollbar) {
			.el-scrollbar__wrap {
				.el-scrollbar__view {
					.nav-bar-tab__item {
						padding: 0 6px;
						font-size: calc(var(--el-font-size-extra-small) - 1px);
						margin-left: 3px;
						&:first-of-type {
							margin-left: 3px;
						}
						&:last-of-type {
							margin-right: 3px;
						}
						&.is-active {
							&::before {
								width: 6px;
								height: 6px;
							}
						}
					}
				}
			}
		}
	}
}

.nav-bar-tab {
	height: var(--height);
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	-webkit-user-select: none;
	user-select: none;
	transition: height var(--el-transition-duration);
	.icon-arrow,
	:deep(.screen-full) {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 100%;
		font-size: var(--el-font-size-medium);
		cursor: pointer;
		&.left {
			box-shadow: 5px 0 5px -6px var(--el-text-color-secondary);
			margin-right: 6px;
		}
		&.right {
			box-shadow: -5px 0 5px -6px var(--el-text-color-secondary);
			margin-left: 6px;
		}
	}
	:deep(.el-scrollbar) {
		flex: 1;
		height: 100%;
		white-space: nowrap;
		.el-scrollbar__wrap {
			.el-scrollbar__view {
				height: 100%;
				display: flex;
				align-items: center;
				.nav-bar-tab__item {
					display: flex;
					align-items: center;
					cursor: pointer;
					height: 80%;
					line-height: 1;
					border: var(--el-border-width) solid var(--el-menu-border-color);
					padding: 0 8px;
					font-size: var(--el-font-size-extra-small);
					margin-left: 5px;
					transition: all var(--el-transition-duration) ease;
					&:first-of-type {
						margin-left: 5px;
					}
					&:last-of-type {
						margin-right: 5px;
					}
					&:hover {
						font-weight: bold;
						-webkit-transform: translateY(-1px) scale(1.02);
						-moz-transform: translateY(-1px) scale(1.02);
						-ms-transform: translateY(-1px) scale(1.02);
						-o-transform: translateY(-1px) scale(1.02);
						transform: translateY(-1px) scale(1.02);
						-webkit-box-shadow: 0 14px 24px var(--el-text-color-secondary);
						box-shadow: 0 14px 24px var(--el-text-color-secondary);
						border-radius: 4px;
					}
					&.is-active {
						font-weight: bold;
						background-color: var(--el-menu-active-color);
						color: var(--el-color-white);
						border-color: var(--el-menu-active-color);
						&::before {
							content: "";
							background-color: var(--el-color-white);
							display: inline-block;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							margin-right: 2px;
						}
					}
					&:not(.is-active) {
						&:hover {
							-webkit-transform: translateY(-2px) scale(1.02);
							-moz-transform: translateY(-2px) scale(1.02);
							-ms-transform: translateY(-2px) scale(1.02);
							-o-transform: translateY(-2px) scale(1.02);
							transform: translateY(-2px) scale(1.02);
							-webkit-box-shadow: 0 14px 24px var(--el-text-color-secondary);
							box-shadow: 0 14px 24px var(--el-text-color-secondary);
							border-radius: 6px;
						}
					}
					.icon-close {
						color: #ffffff;
						margin-left: 2px;
						vertical-align: middle;
						border-radius: 50%;
						transition:
							background-color var(--el-transition-duration) ease,
							color var(--el-transition-duration) ease,
							transform var(--el-transition-duration) ease;
						&:hover {
							color: var(--el-menu-active-color);
							background-color: var(--el-color-white);
							transform: scale(1.1);
						}
					}
				}
			}
		}
		.el-scrollbar__bar {
			bottom: 1px;
			&.is-horizontal {
				height: 2px;
			}
		}
	}
}
