.page {
	padding-top: var(--wot-status-bar-height);
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	// background-position: center calc(var(--wot-status-bar-height));
}

.status-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: var(--wot-status-bar-height);
	// background-color: var(--wot-navbar-bg-color);
	z-index: 1001;
	transition: background-color var(--wot-transition-duration);
}

.navbar {
	padding-bottom: 40rpx;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.navbar__title {
		height: var(--wot-navbar-height);
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--wot-navbar-color);
		font-size: var(--wot-font-size-small);
		font-weight: var(--wot-navbar-title-font-weight, 600);
	}
	.navbar__warp {
		position: relative;
		margin: 0 20rpx;
		border-radius: var(--wot-border-radius-large);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--wot-text-color-primary);
		box-shadow: var(--wot-box-shadow);
		background-color: var(--wot-bg-color);
		.top_bg {
			position: absolute;
			z-index: 1;
			width: 118px;
			height: 53px;
			right: 20px;
		}
		.bottom_bg {
			position: absolute;
			z-index: 1;
			width: 118px;
			height: 53px;
			bottom: 0;
			left: 20px;
		}
		.warp__top {
			z-index: 2;
			width: 100%;
			height: 180rpx;
			box-sizing: border-box;
			padding: 10rpx 30rpx 10rpx 40rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20rpx;
			border-bottom: var(--wot-border);
			.top__left {
				flex: 1;
				height: 100%;
				display: flex;
				align-items: center;
				gap: 15rpx;
				.avatar {
					width: 100rpx;
					height: 100rpx;
					border-radius: 50%;
					border: var(--wot-border);
				}
				.account-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					.nick-name {
						font-size: var(--wot-font-size-base);
						font-weight: var(--wot-font-weight-primary);
					}
					.mobile {
						font-size: var(--wot-font-size-small);
						color: var(--wot-text-color-secondary);
					}
				}
			}
		}
	}
}

.data-card {
	margin: 0 20rpx;
	border-radius: var(--wot-border-radius-large);
	background-color: var(--wot-bg-color);
	:deep(.wd-cell) {
		background: none !important;
	}
	.card__cell::after {
		position: absolute;
		display: block;
		content: "";
		width: 94%;
		height: var(--wot-border-width);
		left: 3%;
		bottom: 0;
		transform: scaleY(0.5);
		background: var(--wot-border-color);
	}
	.card__content {
		padding: 10rpx 20rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
		.card__item {
			// height: 80rpx;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 15rpx;
			padding: 20rpx 0;
			.wd-icon,
			.fa-icon {
				font-size: 50rpx;
				color: var(--wot-color-primary);
			}
			text {
				color: var(--wot-text-color-secondary);
				font-size: var(--wot-font-size-extra-small);
			}
		}
	}
}

.agreement {
	display: flex;
	justify-content: center;
	font-size: var(--wot-font-size-small);
	white-space: nowrap;
	color: var(--wot-color-primary);
}

:deep() {
	.wd-cell-group {
		margin: 0 20rpx;
		border-radius: var(--wot-border-radius-large);
		.wd-cell-group__body {
			background: none;
		}
		.wd-cell:first-child {
			border-radius: var(--wot-border-radius-large) var(--wot-border-radius-large) 0 0;
		}
		.wd-cell:last-child {
			border-radius: 0 0 var(--wot-border-radius-large) var(--wot-border-radius-large);
		}
	}
	.wd-cell {
		--wot-cell-value-color: var(--wot-text-color-placeholder);
		.wd-cell__icon {
			min-width: 24px;
			text-align: center;
		}
	}
	.btn__exit-login {
		--wot-button-medium-fs: var(--wot-font-size-base);
		--wot-button-medium-height: 80rpx;
		margin: 30rpx 50rpx !important;
	}
}

.agreement__warp {
	word-break: keep-all;
	text {
		color: var(--wot-color-primary);
	}
}
