/* 文本换行溢出样式 */
@for $i from 0 through 5 {
	.fa-text__overflow#{$i} {
		text-overflow: ellipsis;
		white-space: normal;
		word-break: break-all;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: #{$i};
		overflow: hidden;
		line-height: normal;
	}
}

/* 外边距、内边距全局样式 */
@for $i from 1 through 20 {
	$i_step: $i * 5;
	.mt#{$i_step} {
		margin-top: #{$i_step}rpx !important;
	}
	.mr#{$i_step} {
		margin-right: #{$i_step}rpx !important;
	}
	.mb#{$i_step} {
		margin-bottom: #{$i_step}rpx !important;
	}
	.ml#{$i_step} {
		margin-left: #{$i_step}rpx !important;
	}
	.pt#{$i_step} {
		padding-top: #{$i_step}rpx !important;
	}
	.pr#{$i_step} {
		padding-right: #{$i_step}rpx !important;
	}
	.pb#{$i_step} {
		padding-bottom: #{$i_step}rpx !important;
	}
	.pl#{$i_step} {
		padding-left: #{$i_step}rpx !important;
	}
}
