.page {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	:deep() {
		.wd-divider {
			text {
				font-size: var(--wot-font-size-extra-large);
				color: var(--wot-text-color-regular);
				padding-right: 10rpx;
				padding-bottom: 10rpx;
			}
		}
	}
	.card {
		flex: 1;
		overflow-y: auto;
		:deep() {
			.wd-card {
				--wot-card-padding: 20rpx 30rpx 20rpx 40rpx;
				border: var(--wot-border);
				.wd-card__content {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 30rpx;
					.logo_img {
						width: 100rpx;
						height: 100rpx;
					}
					> .fa-icon {
						font-size: 100rpx;
						color: var(--wot-color-primary);
					}
					.tenant__warp {
						display: flex;
						flex-direction: column;
						gap: 10rpx;
						flex: 1;
						.tenant__top {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
							.top__name {
								flex: 1;
								font-size: var(--wot-font-size-large);
								font-weight: var(--wot-font-weight-primary);
								color: var(--wot-text-color-primary);
							}
						}
						.tenant__center {
							display: flex;
							flex-direction: row;
							gap: 10rpx;
							justify-content: space-between;
							.center__name {
								flex: 1;
							}
						}
						.tenant__bottom {
							display: flex;
							flex-direction: row;
							gap: 10rpx;
							align-items: center;
							justify-content: space-between;
							.bottom__name {
								display: flex;
								flex-direction: row;
								align-items: center;
								gap: 10rpx;
								font-size: var(--wot-font-size-base);
								color: var(--wot-text-color-regular);
								.idPhoto_img {
									width: 40rpx;
									height: 40rpx;
									border-radius: 50%;
								}
							}
						}
					}
				}
			}
		}
	}
}
