@use "./common/mixin.scss" as mixin;
@use "./theme/index.scss" as theme;
@use "./wot-design-uni/index.scss" as wot-design-uni;
@use "./z-paging/index.scss" as z-paging;

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Thin-Chinese.ttf);
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Thin-Latin.ttf);
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Light-Chinese.ttf);
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Light-Latin.ttf);
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Regular-Chinese.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Regular-Latin.ttf);
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Medium-Chinese.ttf);
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Medium-Latin.ttf);
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Bold-Chinese.ttf);
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: NotoSansSC;
	src: url(//cdn.fastdotnet.com/fonts/NotoSansSC/NotoSansSC-Bold-Latin.ttf);
	font-weight: 700;
	font-display: swap;
}

:root,
page {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-size: 28rpx;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-family:
		NotoSansSC,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol";
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

/** 表格卡片样式 */
.fa-page__card {
	display: flex;
	flex-direction: column;
	gap: 10rpx;
	font-size: var(--wot-font-size-base);
	padding-bottom: 20rpx;
	.page__row {
		display: flex;
		align-items: baseline;
		.title {
			flex: 0.33;
			color: var(--wot-text-color-secondary);
		}
		.content {
			flex: 1;
			color: var(--wot-text-color-regular);
		}
	}
}

/** 固定卡片 */
.fa-fixed__card {
	text-align: right;
	padding-left: calc(var(--wot-area-inset-left) + 20rpx);
	padding-right: calc(var(--wot-area-inset-right) + 20rpx);
	padding-bottom: calc(var(--wot-area-inset-bottom) + 20rpx);
	padding-top: 30rpx;
	background-color: var(--wot-bg-color-page);
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1001;
}
