.fa-main {
	min-height: 100vh;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: var(--wot-area-inset-left);
	padding-right: var(--wot-area-inset-right);
	// padding-top: var(--wot-area-inset-top);
	padding-bottom: var(--wot-area-inset-bottom);
	:deep() {
		.page {
			box-sizing: border-box;
			min-height: var(--main-height);
		}
		.z-paging__page {
			box-sizing: border-box;
			min-height: var(--main-height);
		}
	}

	&.fa-main__page-scroll {
		:deep() {
			.page {
				min-height: auto;
				height: var(--main-height);
				overflow-y: auto;
			}
			.z-paging__page {
				min-height: auto;
				height: var(--main-height);
				overflow-y: auto;
			}
		}
	}
}

.fa-main__tabBar {
	padding-bottom: 0;
	.fa-status-bar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: var(--wot-status-bar-height);
		// background-color: var(--wot-navbar-bg-color);
		z-index: 1001;
	}
	.fa-footer {
		height: calc(var(--wot-footer-height) + 15px);
		padding-bottom: 15px;
	}
}

.pop__auth-warp {
	.auth-body {
		background-color: var(--wot-bg-color);
		padding: 10rpx 40rpx;
		.auth-title {
			text-align: center;
			font-size: var(--wot-font-size-medium);
			color: var(--wot-text-color-primary);
			padding-bottom: 10rpx;
			.auth-logo {
				width: 100rpx;
				height: 100rpx;
				border-radius: 50%;
			}
		}
		.auth-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: var(--wot-text-color-regular);
			.agreement {
				padding-top: 20rpx;
				color: var(--wot-text-color-secondary);
				font-size: var(--wot-font-size-small);
				.txt {
					color: var(--wot-color-primary);
				}
			}
		}
	}
	.auth-actions {
		display: flex;
		gap: 30rpx;
		padding: 15rpx 40rpx 0;
		:deep() {
			.wd-button {
				width: 100%;
			}
		}
	}
}
