@font-face {
	font-family: "iconfont"; /* Project id 4686202 */
	src:
		url("iconfont.woff2?t=1762359040438") format("woff2"),
		url("iconfont.woff?t=1762359040438") format("woff"),
		url("iconfont.ttf?t=1762359040438") format("truetype");
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-icon-tenant:before {
	content: "\e644";
}

.fa-icon-report:before {
	content: "\e627";
}

.fa-icon-loadingImage:before {
	content: "\e61b";
}

.fa-icon-performance:before {
	content: "\e663";
}

.fa-icon-shop:before {
	content: "\e641";
}

.fa-icon-page404:before {
	content: "\e60f";
}

.fa-icon-page403:before {
	content: "\e619";
}

.fa-icon-notData:before {
	content: "\e61a";
}

.fa-icon-money:before {
	content: "\e611";
}

.fa-icon-wifi:before {
	content: "\e615";
}

.fa-icon-collect:before {
	content: "\e618";
}

.fa-icon-mobile:before {
	content: "\e606";
}

.fa-icon-chrome:before {
	content: "\e64b";
}

.fa-icon-desktop:before {
	content: "\e610";
}

.fa-icon-brush:before {
	content: "\e62a";
}

.fa-icon-scan:before {
	content: "\e600";
}

.fa-icon-workbench:before {
	content: "\e612";
}

.fa-icon-idCard:before {
	content: "\e60d";
}

.fa-icon-gps:before {
	content: "\e73c";
}

.fa-icon-address:before {
	content: "\e629";
}

.fa-icon-printer:before {
	content: "\e60e";
}

.fa-icon-api:before {
	content: "\e65f";
}

.fa-icon-gateway:before {
	content: "\e648";
}

.fa-icon-bluetooth:before {
	content: "\e683";
}

.fa-icon-setting:before {
	content: "\e616";
}

.fa-icon-my:before {
	content: "\e649";
}

.fa-icon-filter:before {
	content: "\e647";
}

.fa-icon-accountSafe:before {
	content: "\e76a";
}

.fa-icon-lock:before {
	content: "\e613";
}

.fa-icon-task:before {
	content: "\e617";
}

.fa-icon-home:before {
	content: "\e64a";
}

.fa-icon-navigation:before {
	content: "\e810";
}

.fa-icon-message:before {
	content: "\e7e6";
}

.fa-icon-notImage:before {
	content: "\e6cb";
}

.fa-icon-adjust:before {
	content: "\e62b";
}

.fa-icon-about:before {
	content: "\e643";
}

.fa-icon-component:before {
	content: "\e63c";
}

.fa-icon-customer:before {
	content: "\e642";
}

.fa-icon-backup:before {
	content: "\e63b";
}

.fa-icon-notice:before {
	content: "\e639";
}

.fa-icon-link:before {
	content: "\e637";
}

.fa-icon-reportCenter:before {
	content: "\e632";
}

.fa-icon-systemSetting:before {
	content: "\e614";
}

.fa-icon-exit:before {
	content: "\e60c";
}

.fa-icon-terminal:before {
	content: "\e609";
}

.fa-icon-organization:before {
	content: "\e60a";
}

.fa-icon-dashboard:before {
	content: "\e60b";
}

.fa-icon-light:before {
	content: "\e608";
}

.fa-icon-dark:before {
	content: "\e607";
}

.fa-icon-menu:before {
	content: "\e603";
}

.fa-icon-fullScreenExit:before {
	content: "\e602";
}

.fa-icon-fullScreen:before {
	content: "\e601";
}
