html.small {
	.layout {
		.el-container {
			.el-header {
				.nav-bar {
					.right {
						.screen-full {
							width: 30px;
						}
						.setting {
							width: 30px;
						}
						.avatar {
							font-size: var(--el-font-size-extra-small);
							.el-avatar {
								--el-avatar-size: 22px !important;
							}
						}
					}
				}
			}
			.el-footer {
				font-size: var(--el-font-size-extra-small);
			}
		}
	}
}

.layout {
	.el-aside {
		overflow: hidden;
		transition: width var(--el-transition-duration);
		background-color: var(--el-bg-color);
		border-right: var(--el-border);
	}
	.el-container {
		.el-header {
			--el-header-padding: 0;
			--el-header-height: auto;
			transition: height var(--el-transition-duration);
			background-color: var(--el-bg-color);
			border-bottom: var(--el-border);
			.nav-bar {
				transition: height var(--el-transition-duration);
				height: var(--height);
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				border-bottom: var(--el-border);
				.right {
					height: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					.screen-full {
						width: 35px;
						&:hover {
							background-color: var(--el-text-color-disabled);
						}
					}
					.setting {
						height: 100%;
						width: 35px;
						font-size: var(--el-font-size-large);
						cursor: pointer;
						&:hover {
							background-color: var(--el-text-color-disabled);
						}
					}
					.avatar {
						height: 100%;
						-webkit-user-select: none;
						user-select: none;
						padding: 0 5px;
						cursor: pointer;
						&:hover {
							background-color: var(--el-text-color-disabled);
						}
						.user-info {
							display: flex;
							flex-direction: row;
							align-items: center;
							gap: 5px;
							.nick-name {
								max-width: 100px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}
		}
		.el-main {
			box-sizing: border-box;
			overflow-x: hidden;
			background-color: var(--el-bg-color-page);
		}
		.el-footer {
			font-size: var(--el-font-size-small);
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: height var(--el-transition-duration);
			overflow: hidden;
			background-color: var(--el-bg-color);
			border-top: var(--el-border);
		}
	}
}

.layout.contentFull,
.layout.contentLarge {
	.el-aside {
		--el-aside-width: 0 !important;
		border-right-width: 0;
		overflow: hidden;
	}
	.el-container {
		.el-header {
			.nav-bar {
				--height: 0 !important;
				overflow: hidden;
			}
		}
		.el-footer {
			--el-footer-height: 0 !important;
			overflow: hidden;
		}
	}
}

.layout.contentFull {
	.el-container {
		.el-header {
			.nav-tab {
				--height: 0 !important;
				overflow: hidden;
			}
		}
	}
}

// .el-container {
// 	.el-header {
// 		overflow: hidden;
// 		.nav-bar {
// 			flex-direction: row;
// 			overflow: hidden;
// 			.right {
// 				.el-select {
// 					margin-right: 10px;
// 				}
// 			}
// 		}
// 	}
// 	.el-main {
// 		:deep(.el-scrollbar) {
// 			.el-scrollbar__wrap {
// 				.el-scrollbar__view {
// 					height: 100%;
// 					.layout-main {
// 						flex: 1;
// 						width: 100%;
// 						height: 100%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
