.page {
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

:deep() {
	.wd-picker {
		--wot-cell-value-color: var(--wot-text-color-placeholder);
	}
	.wd-cell {
		.wd-cell__right {
			flex: unset;
			.wd-cell__value {
				display: flex;
			}
		}
		.wd-switch {
			--wot-switch-size: 40rpx;
		}
	}
}

.btn__reset {
	--wot-button-medium-fs: var(--wot-font-size-base);
	--wot-button-medium-height: 80rpx;
	margin: 30rpx 50rpx !important;
}
