.page {
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

:deep() {
	.wd-picker {
		--wot-cell-value-color: var(--wot-text-color-placeholder);
	}
	.wd-cell {
		.wd-cell__right {
			flex: unset;
			.wd-cell__value {
				display: flex;
			}
		}
		.wd-switch {
			--wot-switch-size: 40rpx;
		}
	}
	.btn__reset {
		width: 80%;
		margin-top: 20rpx !important;
		margin-left: 10% !important;
	}
}
