.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40rpx;
	padding: 60rpx 80rpx 0;
	.img_logo {
		width: 128rpx;
		height: 128rpx;
		border-radius: 50%;
	}
	.app-info {
		font-size: var(--wot-font-size-small);
		line-height: calc(var(--wot-font-size-small) * 1.8);
		color: var(--wot-text-color-regular);
	}
	:deep() {
		.wd-form {
			flex: 1;
			width: 100%;
			.tenant-info {
				display: flex;
				flex-direction: row;
				gap: 20rpx;
				align-items: center;
				padding-bottom: 10rpx;
				.wd-icon {
					font-size: 80rpx;
					color: var(--wot-color-primary);
				}
				.user-info {
					display: flex;
					flex-direction: column;
					gap: 5rpx;
					letter-spacing: 0.5px;
					.tenant-name {
						font-size: var(--wot-font-size-base);
						font-weight: var(--wot-font-weight-primary);
					}
					.nick-name {
						font-size: var(--wot-font-size-small);
					}
				}
			}
			.wd-input {
				--wot-input-inner-height: 90rpx;
				--wot-input-fs: var(--wot-font-size-base);
				--wot-input-icon-size: var(--wot-font-size-extra-large);
			}
			.wd-button {
				--wot-button-medium-fs: var(--wot-font-size-base);
				--wot-button-medium-height: 90rpx;
				margin: 30rpx;
			}
			.agreement {
				display: flex;
				flex-direction: row;
				justify-content: center;
				font-size: var(--wot-font-size-small);
				white-space: nowrap;
				.wd-checkbox {
					--wot-checkbox-label-fs: var(--wot-font-size-small);
					--wot-checkbox-label-margin: 8rpx;
				}
				text {
					color: var(--wot-color-primary);
				}
			}
			.find-password {
				height: 80rpx;
				line-height: 80rpx;
				text-align: right;
				color: var(--wot-text-color-secondary);
			}
		}
	}
}

.agreement__warp {
	word-break: keep-all;
	text {
		color: var(--wot-color-primary);
	}
}

.pop__auth-warp {
	.auth-body {
		background-color: var(--wot-color-white);
		padding: 40rpx 48rpx 0;
		.auth-title {
			text-align: center;
			font-size: var(--wot-font-size-medium);
			color: var(--wot-text-color-primary);
			padding-bottom: 10rpx;
			.auth-logo {
				width: 100rpx;
				height: 100rpx;
				border-radius: 50%;
			}
		}
		.auth-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: var(--wot-text-color-regular);
			.agreement {
				padding-top: 20rpx;
				color: var(--wot-text-color-secondary);
				font-size: var(--wot-font-size-small);
				text {
					color: var(--wot-color-primary);
				}
			}
		}
	}
	.auth-actions {
		display: flex;
		flex-direction: row;
		gap: 30rpx;
		padding: 15rpx 40rpx 0;
		:deep() {
			.wd-button {
				width: 100%;
			}
		}
	}
}
