@use "./light.scss";
@use "./dark.scss";

.wot-theme-light,
.wot-theme-dark {
	--wot-color-white: #ffffff;
	--wot-color-black: #000000;

	/* 超大文字 */
	--wot-font-size-extra-large: 40rpx;
	/* 大文字 */
	--wot-font-size-large: 36rpx;
	/* 中文字 */
	--wot-font-size-medium: 32rpx;
	/* 基础文字 */
	--wot-font-size-base: 28rpx;
	/* 小文字 */
	--wot-font-size-small: 26rpx;
	/* 超小文字 */
	--wot-font-size-extra-small: 24rpx;

	/* 文字宽度文字 */
	--wot-font-weight-primary: 500;
	--wot-font-weight-semibold: 700;

	/* 控件边框线 */
	--wot-border-width: 2rpx;
	--wot-border-style: solid;
	--wot-border-radius-large: 20rpx;
	--wot-border-radius-base: 8rpx;
	--wot-border-radius-small: 4rpx;
	--wot-border-radius-round: 40rpx;
	--wot-border-radius-circle: 100%;
	--wot-border-color-hover: var(--wot-text-color-disabled);
	--wot-border: var(--wot-border-width) var(--wot-border-style) var(--wot-border-color);

	/* 动画 */
	--wot-transition-duration: 0.3s;
	--wot-transition-duration-fast: 0.2s;
	--wot-transition-function-ease-in-out-bezier: cubic-bezier(0.645, 0.045, 0.355, 1);
	--wot-transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);
	--wot-transition-all: all var(--wot-transition-duration) var(--wot-transition-function-ease-in-out-bezier);
	--wot-transition-fade: opacity var(--wot-transition-duration) var(--wot-transition-function-fast-bezier);
	--wot-transition-md-fade:
		transform var(--wot-transition-duration) var(--wot-transition-function-fast-bezier),
		opacity var(--wot-transition-duration) var(--wot-transition-function-fast-bezier);
	--wot-transition-fade-linear: opacity var(--wot-transition-duration-fast) linear;
	--wot-transition-border: border-color var(--wot-transition-duration-fast) var(--wot-transition-function-ease-in-out-bezier);
	--wot-transition-box-shadow: box-shadow var(--wot-transition-duration-fast) var(--wot-transition-function-ease-in-out-bezier);
	--wot-transition-color: color var(--wot-transition-duration-fast) var(--wot-transition-function-ease-in-out-bezier);
}
