@use "./components/wd-button.scss";
@use "./components/wd-card.scss";
@use "./components/wd-drop-menu.scss";
@use "./components/wd-navbar.scss";
@use "./components/wd-popup.scss";
@use "./components/wd-radio.scss";
@use "./components/wd-toast.scss";

.wot-theme-light,
.wot-theme-dark {
	/* 大型标题 */
	--wot-fs-big: var(--wot-font-size-extra-large);
	/* 重要数据 */
	--wot-fs-important: var(--wot-font-size-large);
	/* 标题字号/重要正文字号 */
	--wot-fs-title: var(--wot-font-size-medium);
	/* 普通正文 */
	--wot-fs-content: var(--wot-font-size-base);
	/* 次要信息，注释/补充/正文 */
	--wot-fs-secondary: var(--wot-font-size-small);
	/* 辅助文字字号，弱化信息，引导性/不可点文字 */
	--wot-fs-aid: var(--wot-font-size-extra-small);

	/* 文字字重 */
	--wot-fw-medium: var(--wot-font-weight-primary);
	--wot-fw-semibold: var(--wot-font-weight-semibold);

	/* 背景色、禁用填充色 */
	--wot-color-bg: var(--wot-bg-color-page);

	/* 模块标题/重要正文 */
	--wot-color-title: var(--wot-text-color-primary);
	/* 普通正文 */
	--wot-color-content: var(--wot-text-color-regular);
	/* 次要信息，注释/补充/正文 */
	--wot-color-secondary: var(--wot-text-color-secondary);
	/* 辅助文字字号，弱化信息，引导性/不可点文字 */
	--wot-color-aid: var(--wot-text-color-placeholder);
	/* 失效、默认提示文字 */
	--wot-color-tip: var(--wot-text-color-disabled);

	/* 禁用颜色 */
	--wot-disabled-bg-color: var(--wot-fill-color-light);
	--wot-disabled-text-color: var(--wot-text-color-placeholder);
	--wot-disabled-border-color: var(--wot-border-color-light);

	/* 控件边框线 */
	--wot-color-border: var(--wot-border-color);
	--wot-dark-border-color: var(--wot-border-color);
	--wot-svg-monochrome-grey: var(--wot-border-color);

	/* 分割线颜色 */
	--wot-color-border-light: var(--wot-border-color-light);
}
