.fa-main {
	min-height: 100vh;
	box-sizing: border-box;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: var(--wot-area-inset-left);
	padding-right: var(--wot-area-inset-right);
	// padding-top: var(--wot-area-inset-top);
	padding-bottom: var(--wot-area-inset-bottom);
	:deep(.page) {
		box-sizing: border-box;
		min-height: var(--main-height);
	}
	.z-paging__page {
		box-sizing: border-box;
		min-height: var(--main-height);
	}
	&.fa-main__page-scroll {
		:deep(.page) {
			min-height: auto;
			height: var(--main-height);
			overflow-y: auto;
		}
		.z-paging__page {
			min-height: auto;
			height: var(--main-height);
			overflow-y: auto;
		}
	}
}

.fa-main__tabBar {
	padding-bottom: 0;
	.fa-footer {
		height: calc(var(--wot-footer-height) + 15px);
		padding-bottom: 15px;
	}
}
